<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <target name="file"
            xsi:type="File"
            layout="${longdate} ::: ${level:uppercase=true} ::: ${logger} ::: ${message} :::"
            fileName="${basedir}/logs/astute.n.log"
            archiveEvery="Hour" archiveNumbering="Rolling" maxArchiveFiles="24" concurrentWrites="true"
            keepFileOpen="true" encoding="utf-8" autoFlush="true" lineEnding="CRLF"/>

    <target name="cc" xsi:type="ColoredConsole" layout="${longdate} |${level:uppercase=true}| ${logger} | ${message}">
      <highlight-row backgroundColor="DarkRed" condition="level == LogLevel.Fatal" foregroundColor="Red"/>
      <highlight-row backgroundColor="DarkMagenta" condition="level == LogLevel.Error" foregroundColor="Magenta"/>
      <highlight-row backgroundColor="DarkYellow" condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
      <highlight-row backgroundColor="DarkBlue" condition="level == LogLevel.Info" foregroundColor="Blue"/>
      <highlight-row backgroundColor="Black" condition="level == LogLevel.Debug" foregroundColor="White"/>
      <highlight-row backgroundColor="DarkGray" condition="level == LogLevel.Trace" foregroundColor="Gray"/>

      <highlight-word backgroundColor="Black" text="|" foregroundColor="White"/>
    </target>

  </targets>

  <rules>
    <!-- add your logging rules here -->

    <logger name="*" writeTo="file,cc" />
  </rules>
</nlog>
